<mat-card class="w-full">
  <div>
    <a
      class="link-button"
      routerLink="/manager"
      routerLinkActive="active-link-button"
      >Books</a
    >
  </div>
  <!-- <div>
    <a
      class="link-button"
      routerLink="/manager-rent"
      routerLinkActive="active-link-button"
      >Rents</a
    >
  </div> -->
  <div>
    <a
      class="link-button"
      routerLink="/manager-rent-detail"
      routerLinkActive="active-link-button"
      >Rent Detail</a
    >
  </div>
</mat-card>
