@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #e2e2e2;
}

.blue-snackbar {
  background: #00c853;
  color: #fff;
}

.link-button {
  display: block;
  width: 90%;
  background-color: #e8e8e8;
  padding: 10px 10px;
  border-radius: 5px;
  color: #484848;
  text-decoration: none;
  margin: 5px 0px;
}

.active-link-button {
  display: block;
  width: 90%;
  background-color: #2196f3;
  padding: 10px 10px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  margin: 5px 0px;
}

.mat-header-cell {
  background: #909090;
  color: #fff;
  font-size: medium;
}
